.body {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: auto;
    color: black;
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 5px;
}


.gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    max-width: 600px;
    /* margin: auto; */
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    margin-bottom: 1em;
}

.alert {
    margin-top: 16px;
}

@media (max-width: 767px) {
    .form {
        /* max-width: 100%; */
        padding: 16px;
    }
}

.imagePreview {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 50%;
    object-fit: contain;
}

.previewImg {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.customFileUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 2px;
    cursor: pointer;
    background-color: #989898;
    color: #fff;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.customFileUpload:hover {
    background-color: #5e5e5e;
}

.fileInput {
    display: none;
}


/* ADD EVENT */

.memoryImagePreview {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5%;
    margin-bottom: 1rem;
}

.memoryPreviewImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    margin-left: auto;
    margin-right: auto;
}

.carouselContainer {
    overflow: hidden;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}