.body{
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: auto;
    color: black;
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 5px;
}


.gridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form {
    max-width: 400px;
    margin: auto;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .alert {
    margin-top: 16px;
  }
  
  @media (max-width: 767px) {
    .form {
      max-width: 100%;
      padding: 16px;
    }
  }
  