.body{
    background-image: linear-gradient(360deg, #09040f, rgba(0, 0, 0, 0.5)), linear-gradient(140deg, #0c86ee, #6a59ff 22%, rgba(239, 69, 179, 0.6) 38%, #03395d 57%, #142f5a 75%, #011c34);
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-image: linear-gradient(360deg, #09040f, rgba(0, 0, 0, 0.5)), linear-gradient(140deg, #0c86ee, #6a59ff 22%, rgba(239, 69, 179, 0.6) 38%, #03395d 57%, #142f5a 75%, #011c34);
}


.gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form {
    max-width: 400px;
    margin: auto;
  }
  
  .alert {
    margin-top: 16px;
  }
  
  @media (max-width: 767px) {
    .form {
      max-width: 100%;
      padding: 16px;
    }
  }
  