.hero {
    position: relative;
    padding-bottom: 12px;
    background-color: #09040f;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    color: #fff;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
    position: relative;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 16px;
    padding: 0;
  }
  
  .menuItem {
    margin-left: 16px;
  }
  
  .link::after {
    text-decoration: none;
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .link:hover::after {
    text-decoration: none;
    opacity: 1;
  }
  
  .active::after {
    text-decoration: none;
    opacity: 1;
  }
  