.hero {
    position: relative;
    background-color: #09040f;
    /* position: fixed; */
    width: 100%;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    color: #fff;
  }

  .navbar a {
    text-decoration: none;
    color: inherit;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
    position: relative;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 16px;
    padding: 0;
  }
  
  .menuItem {
    margin-left: 16px;
  }
  
  .link::after {
    text-decoration: none;
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .link:hover::after {
    text-decoration: none;
    opacity: 1;
  }
  
  .active::after {
    text-decoration: none;
    opacity: 1;
  }


  .button {
    margin-left: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #15171a;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .button:hover {
    background-color: #380f39;
  }
  
  @media (max-width: 768px) {
    .button {
      font-size: 0.9rem;
    }
  }
  