.divBlock {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 0.25fr 1fr;
    grid-template-columns: 0.25fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  
  .darkCard {
    height: 100%;
    justify-items: start;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
.smaller-img {
    -ms-grid-columns: 0.25fr 1fr;
    grid-template-columns: 0.25fr 1fr;
  }