.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .searchInput {
    padding: 0.5rem;
    padding-left: 7%;
    padding-right: 7%;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    font-size: 1rem;
    background-color: transparent;
    color: white;
  }

  .searchInput:focus {
    outline: none;
  }

  .searchButton {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #15171a;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .searchButton:hover {
    background-color: #380f39;
  }
  
  @media (max-width: 768px) {
    .searchInput {
      font-size: 0.9rem;
    }
    .searchButton {
      font-size: 0.9rem;
    }
  }
  
