
.gridContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

/* For screens smaller than 1024px, set the grid to 2 columns */
@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
    .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* For screens smaller than 768px, set the grid to 1 column */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* For screens smaller than 466px, set the grid to 1 column */
@media (max-width: 466px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #241d2f;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
  background-color: #130c38;
  color: #fff;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.imageContainer {
  width: 100%;
  height: 150px;
  border-radius: 3px;
  /* overflow: hidden; */
  /* width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative; */
}

.image {
  object-fit:contain ;
  width: 100%;
  height: 100%;
  /* position: absolute; */
}

.textContent {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.fullName {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-top: 2px;
}

.jobDescription {
  font-size: 18px;
  margin: 0;
  color: #ccc;
}

.contact {
  display: flex;
  flex-direction: column;
}

.website {
  text-decoration: none;
  color: #ccc;
}

.email {
  color: #79c5ff;
  text-decoration: none;
}
