.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

/* For screens smaller than 1200px, set the grid to 3 columns */
@media (max-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For screens smaller than 992px, set the grid to 2 columns */
@media (max-width: 992px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For screens smaller than 768px, set the grid to 1 column */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* For screens smaller than 576px (extra small), set the grid to 1 column */
@media (max-width: 576px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 5px;
  background-color: #010101;
  /* border: 1px solid #241d2f; */
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageContainer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fullName {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-top: 2px;
}

.jobDescription {
  font-size: 18px;
  margin: 0;
  color: #ccc;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5px;

}

.website {
  text-decoration: none;
  color: #ccc;
}

.email {
  color: #79c5ff;
  text-decoration: none;
}

.iconStyle {
  font-size: 24px;
  color: white;
  margin: 5px;
  cursor: pointer;
}